<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0434193f-585e-4061-858e-ef081b3545d1/resourceGroups/ADS2_2025_2/providers/Microsoft.ApiManagement/service/ServidorPIapi/apis/ServidorPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/0434193f-585e-4061-858e-ef081b3545d1/resourceGroups/ADS2_2025_2/providers/Microsoft.Web/sites/ads2-2025-2</ResourceId>
    <ResourceGroup>ADS2_2025_2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ads2-2025-2-djcbfjadeparacd0.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ed15be9c-4472-4f68-a274-603f49c39fd3</ProjectGuid>
    <PublishUrl>https://ads2-2025-2-djcbfjadeparacd0.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>